extends ../shared/template
block content
    h2 Map
    .row
     .col.xs-12
        #map
    .row
     .col-xs-2: a(href="/treasures?#{((tag) ? '&tag=' + tag: '') + '&header=name&direction=' + ((direction > 0) ? -1 : 1)}") Name
     .col-xs-2: a(href="/treasures?#{((tag) ? '&tag=' + tag: '') + '&header=location&direction=' + ((direction > 0) ? -1 : 1)}") Location
     .col-xs-2: a(href="/treasures?#{((tag) ? '&tag=' + tag: '') + '&header=name&direction=' + ((direction > 0) ? -1 : 1)}") Difficulty
     .col-xs-2 Tags
     .col-xs-2: a(href="/treasures?#{((tag) ? '&tag=' + tag: '') + '&header=order&direction=' + ((direction > 0) ? -1 : 1)}") Order
     .col-xs-2 Found
    .row#waypoints
      each treasure in treasures
        .row
          .col-xs-2
            -if(!treasure.isLinkable)
              a(href='/treasures/#{treasure._id}')= treasure.name
            -else
              = treasure.name
          .col-xs-2.coordinate(data-lat=treasure.location.lat, data-lng=treasure.location.lng)= treasure.location.name
          .col-xs-2= treasure.difficulty
          .col-xs-2
            each tag in treasure.tags
              .tag: a(href="/treasures?#{((tag) ? '&tag=' + tag: '') + ((direction) ? '&direction=' : '') + ((header) ? '&header=' + header : '')}")= tag
          .col-xs-2= treasure.order
          .col-xs-2= (treasure.isFound) ? 'Yes' : 'No'
block scripts
    script(src='/js/user/map.js')

