extends ../shared/template
block content
    h2 Treasure Map
    script(src='/js/vendor/tablesort.min.js')

    #map
    table.table.table-bordered.table-hover#data
      tr.no-sort
       th Name
       th Location
       th Difficulty
       th Tags
       th Order
       th Found
      each treasure in treasures
        tr
          td
            -if(treasure.isLinkable)
              a(href='/treasures/#{treasure._id}')= treasure.name
            -else
              = treasure.name
          td.coordinate(data-lat=treasure.location.lat, data-lng=treasure.location.lng)= treasure.location.name
          td= treasure.difficulty
          td
            each tag, index in treasure.tags
              .tag: a(href="/treasures?#{((tag) ? '&tag=' + tag: '')}")= tag
          td= treasure.order
          td= (treasure.isFound) ? 'Yes' : 'No'
    #pirate
block scripts
    script(src='/js/user/map.js')

